<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="theoaktroop.appoframadan" >

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" >
    </uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="theoaktroop.appoframadan.SplashActivity.MainSplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="theoaktroop.appoframadan.FirstAcivity.SehriAndIfterShortForm"
            android:label="@string/title_activity_sehri_and_ifter_short_form" />
        <activity
            android:name="theoaktroop.appoframadan.TasbhiActivity.TasbhiActivity1"
            android:label="@string/title_activity_tasbih" >
        </activity>
        <activity
            android:name="theoaktroop.appoframadan.SettingActivity.SettingsActivity"
            android:label="@string/title_settings"

            android:windowSoftInputMode="stateHidden"
            />

        <service android:name="theoaktroop.appoframadan.NotificationChallenging.NotifyingService" />

        <activity
            android:name="theoaktroop.appoframadan.DistrictActivity.DistrictAllTimeShow"
            android:label="@string/title_activity_district_all_time_show"
            android:parentActivityName="theoaktroop.appoframadan.FirstAcivity.SehriAndIfterShortForm" >
            <meta-data
                android:name="android:parentActivityName"
                android:value=".FirstAcivity.SehriAndIfterShortForm" />


        </activity>
        <activity
            android:name="theoaktroop.appoframadan.NotificationChallenging.NotificationViewer"
            android:label="@string/title_notification" >
        </activity>
        <activity
            android:name="theoaktroop.appoframadan.HadithActivity.HadithTitleClass"
            android:autoRemoveFromRecents="true"
            android:label="@string/title_activity_hadith" />
        <activity
            android:name="theoaktroop.appoframadan.HadithActivity.HadisViewer"
            android:label="@string/title_activity_hadith"
            android:parentActivityName="theoaktroop.appoframadan.HadithActivity.HadithTitleClass" >
            <meta-data
                android:name="android:parentActivityName"
                android:value=".HadithActivity.HadithTitleClass" />


        </activity>
        <activity
            android:name="theoaktroop.appoframadan.MasalaActivity.MasalaTitleClass"
            android:label="@string/title_activity_masala" />
        <activity
            android:name="theoaktroop.appoframadan.MasalaActivity.MasalaViewer"
            android:label="@string/title_activity_masala"
            android:parentActivityName="theoaktroop.appoframadan.MasalaActivity.MasalaTitleClass" >
            <meta-data
                android:name="android:parentActivityName"
                android:value=".MasalaActivity.MasalaTitleClass" />


        </activity>

        <activity
            android:name="theoaktroop.appoframadan.EattingHabitActivity.EattingHabitTitleClass"
            android:label="@string/title_activity_food_habit" />
        <activity
            android:name="theoaktroop.appoframadan.EattingHabitActivity.EattingHabitViewer"
            android:label="@string/title_activity_food_habit"
            android:parentActivityName="theoaktroop.appoframadan.EattingHabitActivity.EattingHabitTitleClass" >
            <meta-data
                android:name="android:parentActivityName"
                android:value=".EattingHabitActivity.EattingHabitTitleClass" />


        </activity>

        <activity android:name="theoaktroop.appoframadan.About.AboutUsActivity"

            android:parentActivityName="theoaktroop.appoframadan.FirstAcivity.SehriAndIfterShortForm" >
            <meta-data
                android:name="android:parentActivityName"
                android:value=".FirstAcivity.SehriAndIfterShortForm" />


        </activity>
        <activity android:name="theoaktroop.appoframadan.DistrictActivity.InputForAllDistrictTimeActivity"
            android:parentActivityName="theoaktroop.appoframadan.FirstAcivity.SehriAndIfterShortForm" >
            <meta-data
                android:name="android:parentActivityName"
                android:value=".FirstAcivity.SehriAndIfterShortForm" />


        </activity>

        <activity android:name="theoaktroop.appoframadan.DuaDorutActivity.DuaTitleClass"></activity>
        <activity android:name="theoaktroop.appoframadan.DuaDorutActivity.DuaViewer"
            android:parentActivityName="theoaktroop.appoframadan.DuaDorutActivity.DuaTitleClass" >
            <meta-data
                android:name="android:parentActivityName"
                android:value=".DuaDorutActivity.DuaTitleClass" />


        </activity>
    </application>

</manifest>
