<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.theoakteam.ramadanapp" >

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity.MainSplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirstAcivity.SehriAndIfterShortForm"
            android:label="@string/title_activity_sehri_and_ifter_short_form" />
        <activity
            android:name=".SuraActivity.DisplaySuraActivity"
            android:label="@string/title_activity_quran" />
        <activity
            android:name=".TasbhiActivity.TasbhiActivity1"
            android:label="@string/title_activity_tasbih" >
        </activity>
        <activity
            android:name=".SettingActivity.SettingsActivity"
            android:label="@string/title_settings" />

        <service android:name=".NotificationChallenging.NotifyingService" />

        <activity
            android:name=".DistrictActivity.DistrictAllTimeShow"
            android:label="@string/title_activity_district_all_time_show" >
        </activity>
        <activity
            android:name=".NotificationChallenging.NotificationViewer"
            android:label="@string/title_notification" >
        </activity>
        <activity
            android:name=".HadithActivity.HadithTitleClass"
            android:autoRemoveFromRecents="true"
            android:label="@string/title_activity_hadith" />
        <activity
            android:name=".HadithActivity.HadisViewer"
            android:label="@string/title_activity_hadith" >
        </activity>
        <activity
            android:name=".MasalaActivity.MasalaTitleClass"
            android:label="@string/title_activity_masala" />
        <activity
            android:name=".MasalaActivity.MasalaViewer"
            android:label="@string/title_activity_masala" />
        <activity
            android:name=".EattingHabitActivity.EattingHabitTitleClass"
            android:label="@string/title_activity_food_habit" />
        <activity
            android:name=".EattingHabitActivity.EattingHabitViewer"
            android:label="@string/title_activity_food_habit" />
        <activity
            android:name=".DistrictActivity.InputForAllDistrictTimeActivity"
            android:label="@string/title_activity_input_for_all_district_time" >
        </activity>
    </application>

</manifest>
